<form method="POST" action="/new">
  <h1>Submit new Message</h1>
  <label for="author">Name:</label
  ><input name="author" id="author" type="text" />
  <label for="message">Message:</label
  ><input name="message" id="message" type="text" />
  <button type="submit">Add</button>
</form>
