<h1>Message Text:</h1>
<%= text %>

<h1>Message Author:</h1>
<%= author %>

<h1>Message Added:</h1>
<%= added %>
<br />
<button>
  <a href="/" style="text-decoration: none; color: black">Back</a>
</button>
